/* Comments Template */
@media screen{
    .comments{
        border-top: 4px solid $border-color;
    }
    .add-comment,
    .comments{
        width: 68%;
        margin: 0 auto;
    }
    .comments h2{
        font-family: $header-font;
        @include font-size(32/$font-base, 36/$font-base);
        color: $text-color;
    }

    .add-comment input {
        border: 1px solid $border-color;
        padding: 1.5% 3%;
        font-size: 100%;
        margin-bottom: 1%;
    }

    .add-comment textarea {
        border: 1px solid $border-color;
        padding: 0.3em;
        font-family: Arial;
        font-size: 100%;
        width: 90%;
    }

    .formfield-message {
        clear:both;
    }

    #author-info {
        clear: both;
        padding-top: 15px;
    }

    .formfield-submit {
        padding-top: 20px;
        clear: both;
        display: block;

        input{
            background: $contrast-color;
            color: $base-white;
        }
    }
    .comment-wrapper {
        clear: both;
        padding-top: 10px;
    }
    .comment-meta {
        float: left;
    }
    .comment-meta a {
        border-bottom: none;
    }
    .message {
        margin-left: 10px;
        padding: 0.7em;
        padding-bottom: 1em;
        border-bottom: 1px solid #d3d3d3;
    }
    .comment-author span {
        font-weight: bold;
    }
    .comment-author span.comment-date {
        font-size: 90%;
        color: #959595;
    }
    .comment-post {
        padding-top: 10px;
    }
}