/* Comments Template */
@media screen{
    .add-comment,
    .comments{
        width: 68%;
        margin: 0 auto;
        padding: 1.5% 0 0 0;
        border-top: 4px solid $border-color;
    }
    .comments {
        h2{
            font-family: $header-font;
            @include font-size(32/$font-base, 36/$font-base);
            color: $text-color;
        }
        .avatar{
            @include prefixer(border-radius, 66px, moz webkit spec);
            padding: 0;
            position: absolute;
            top: 20px;
            left: 0;
        }
        .comment{
            padding: 0 0 1% 76px;
            position: relative;
            min-height: 80px;
            clear: both;
        }
        .comment-date {
            color: $contrast-color;
            @include font-size(14/$font-base, 18/$font-base);
        }
    }

    .add-comment{
        input, textarea{
            border: 1px solid $border-color;
            padding: 1.5% 3%;
            font-size: 100%;
            margin-bottom: 1%;
        }
        textarea {
            width: 90%;
        }
        legend{
            @include font-size(32/$font-base, 36/$font-base);
        }
    }
    .formfield-submit {
        padding-top: 20px;
        clear: both;
        display: block;

        input{
            background: $contrast-color;
            color: $base-white;
        }
    }

    .formfield-message {
        clear:both;
    }

    #author-info {
        clear: both;
        padding-top: 15px;
    }
    .comment-author span {
        font-weight: bold;
    }
    .comment-post {
        padding-top: 10px;
    }
}