/* Footer */

.bottom{
    border-top: 1px solid $border-color;
    background: $base-white;
}
.footer {
    margin-top: 10px;
    padding: 20px 15px;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    width: $framework-max-width;
}

#footer-left {
    width: 70%;
    float: left;
}
#footer-left p a {
    color: #3e3e3e;
    text-decoration: none;
}
#footer-left p.copyright {
    padding: 0 0 10px 0;
}
#footer-right {
    width: 30%;
    float: left;
}
#footer-right p {
    width: 291px;
    float: left;
    margin: 0;
    padding: 0 5px 0 0;
    color: #475a22;
    font-size: 90%;
    text-align: right;
}
#footer-right p a {
    color: #475a22;
    text-decoration: none;
}

#bottom {
    height: 20px;
    width: 955px;
    float: left;
}