article, aside, figure, footer, header, hgroup,
menu, nav, section, main {
    display: block;
}
body {
    color: $text-color;
    font-weight: normal;
    font-family: $default-font;
    font-size: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
h1{
    margin:0;
}
h2{
    @include font-size(35/$font-base, 40/$font-base);
    color: $contrast-color;
    margin:0 0 20px 0;
}
h3{
    @include font-size(1, 1);
    margin:0 0 3% 0;
}
h4, h5, h6{
    font-size: 1em;
    margin:0 0 3px 0;
}
p{
    margin: 0 0 20px 0;
    font: inherit;
}
legend{
    font-family: $header-font;
    color: $text-color;
}
label{
    display:block;
    color: $text-color;
    font-weight: bold;
}
input, textarea{
    /*@include prefixer(border-radius, 4px, webkit moz spec);*/
}
img{
    max-width: 100%;
}