@media screen{
    /* Site Navigation*/
    nav {
        width: 476px;
        padding-top: 28px;  
        position: absolute;
        right: 80px;

        ul {
            height: 46px;  
            position:relative;  
            padding-left:20px;
        }

        li { 
            display: block;
            float: left;
            padding-left: 20px;
        }

        a {
            text-decoration: none;
            color: #fff;
            float: left;
            overflow: hidden;
            text-transform: uppercase;
        }
    }

    /*Page Navigation*/
    .page-navigation {
        clear: both;
        overflow: hidden;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;

        a{
            color: $contrast-color;
            border-bottom: 0;
            display: block;
            padding: 9% 20% 7% 15%;
            white-space: nowrap;
            width: 150px;
        }
    }
    .newer {
        float:right;
        text-align:right;
        border-left: 1px solid $border-color;
        overflow: hidden;
    }
    .older {
        float:left; 
        border-right: 1px solid $border-color;
        overflow: hidden;
    }
}