@media screen{
    /* Site Navigation*/
    nav {

        ul {
            position: relative;
            margin: 0;
            padding: 45% 0 0 0;
            list-style: none;
            text-align: center;
        }
        li { 
            padding:0 10px;
            display: inline;
        }
        a {
            text-decoration: none;
            color: $base-white;
            text-transform: uppercase;
        }
    }

    /*Page Navigation*/
    .page-navigation {
        clear: both;
        overflow: hidden;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;

        a{
            color: $contrast-color;
            border-bottom: 0;
            display: block;
            padding: 9% 20% 7% 15%;
            white-space: nowrap;
            width: 150px;
        }
    }
    .newer {
        float:right;
        text-align:right;
        border-left: 1px solid $border-color;
        overflow: hidden;
    }
    .older {
        float:left; 
        border-right: 1px solid $border-color;
        overflow: hidden;
    }
}
@media (min-width: 980px) {
    nav {
        width: 476px;
        padding-top: 28px;  
        position: absolute;
        right: 80px;

        ul {
            height: 46px;  
            padding:0;
        }
        li { 
            padding-left: 20px;
            display: block;
            float: left;
        }
        a {
            float: left;
            overflow: hidden;
        }
    }
}