/******************************************************************

Site Name: Swedish Fika
Author: Johan, Ida, Simon and Alex

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

@media screen{
	/*@group Framework*/
	html{
		background: url(../images/background/wallpaper.jpg) repeat center 0;
	}
	body {
		position: relative;
		font-family: "nimbus-sans", Helvetica, sans-serif;
		font-weight: lighter;
	}

	/*@group Top Header */
	.higher-than-the-sky{
		padding: calc-percent(31, 1280);
	}
	.navigate-now{
		position: absolute;
		top: 20px;
		right: 20px;
		text-transform: uppercase; 
	}
	.skip {
	    font-size: 16px;
	    text-align: center;
	    height: 20px;
	    padding: 10px 0;
	    background: $contrast;
	    position: absolute;
	    top: -70px;
	    z-index: 10;
	    width: 100%;
	    -webkit-transition: top .2s linear;
	    -moz-transition: top .2s linear;
	    transition: top .2s linear;
	}

	.skip:focus {
	    top: 0;
	    outline: 0;
	    z-index: 101;
	}
	/*@end Top Header */
	article h1{
		font-family: 'Jubilat', Georgia, serif;
		@include fontsize(1.8, 1.7);
		/* TODO: include this in the biggest media-query
		@include fontsize(4.15, 3.8);*/
		max-width: 860px;
		margin: 0 auto;
		padding: 0 4% calc-percent(30, 1280);
		letter-spacing: 1px;
	}
	.text-left   { text-align: left; }
	.text-center { text-align: center; }
	.text-right  { text-align: right; }
	/*@end Framework*/

	/*@group Article*/
	/*@group Artcle Content*/
	.headline{
		background-color: $global-head-bg;
		color: $light;
	}
	.entry-content{
		padding: 0 calc-percent(40, 800);
		/*padding: calc-percent(31, 1280);*/
	}
	.published{
		text-align: center;
		padding-bottom: 4%;
		@include fontsize(0.75, 1.4);
		margin: 0;
	}
	.preamble{
		color: $contrast;
		@include fontsize(1.2, 1.5);
		padding-top: calc-percent(80, 1280);
	}
	.avatar{
		border-radius: 100%;
		margin: 0;
		padding: 0;
	}
	/*@end Artcle Content*/
	/*@group Author*/
	.author-stuff{
		overflow: hidden;
		padding: 3% 0;
	}
	.author-stuff h2{
		@include fontsize(0.9, 1);	
	}
	.author-stuff p{
		@include fontsize(0.7, 0.8);
	}
	.author-stuff a{
		text-decoration: none;
	}
	.author-stuff a:hover,
	.author-stuff a:focus{
		text-decoration: underline;
	}
	/*@end Author*/
	/*@group Comment Shortcut*/
	.comment-shortcut{
		text-decoration: none;
	}
	.comment-shortcut:hover,
	.comment-shortcut:focus{
		text-decoration: underline;
	}
	/*@end Comment Shortcut*/
	/*@group Comment Form*/
	.comment-form{
		border-top: 4px solid #e8e8e8;
		padding: 3% calc-percent(40, 800) calc-percent(40, 800);
	}
	.comment-form legend{
		padding: 0 0 calc-percent(15, 800);
	}
	.comment-form input,
	.comment-form textarea{
		-webkit-appearance: none;
	}
	/*@end Comment Form*/
	/*@group Comments*/
	.commentlist{
		padding: 0 calc-percent(40, 800) calc-percent(40, 800);
	}
	.commentlist li{
		position: relative;
		padding-left: 80px;
		list-style: none;
	}
	.commentlist a{
		text-decoration: none;
	}
	.commentlist a:hover,
	.commentlist a:focus{
		text-decoration: underline;
	}
	.commentlist .avatar{
		position: absolute;
		left: 0;
		top: 0;
	}
	.comment-author{
		display: block;
	}
	.comment-author,
	.comment-author a{
		color:#666565;
		font-weight: bold;
		@include fontsize(0.8, 0.9);
	}
	.comment-content{
		padding: calc-percent(10, 1280) 0 0;
	}
	.commentlist time a,
	.comment-edit-link,
	.comment-reply-link{
		@include fontsize(0.6, 0.7);
	}
	.comment-reply-link{
		font-weight: bold;
	}
	/*@end Comments*/
	/*@end Article*/

}