/******************************************************************

Site Name: Swedish Fika
Author: Johan, Ida, Simon and Alex

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*@group Framework*/
article h1{
	@include fontsize(4.15, 3.8);
}
.go-home{
	display: inline;
}
.go-home img{
	margin: 0;
	padding-top: 30px;
}
aside{
	padding: 0;
	width: 28.90625%;
}
/*@group Navigation*/
nav{
	position: absolute;
	top: 88px;
	right: 30px;
}
nav li{
	float: left;
	margin-left: 20px;
}
.navigate-now{
	display: none;
}
/*@end Navigation*/
/*@end Framework*/
/*@group Article*/
.preamble{
	@include fontsize(2.1, 2.7);
	font-weight: normal;
}
.entry-content,
.feedback{
	float: right;
	border-left: 1px solid #e8e8e8
}
.entry-content{
	width: calc-percent(783, 1280);
}
.feedback{
	width: calc-percent(911, 1280);
	clear:right;
}
.author-stuff{
	background: #fff;
	padding:calc-percent(50, 340) 0 calc-percent(50, 340) calc-percent(47, 340);
	display: table;
	border-bottom: 1px solid #dcdcdc;
}
.author-stuff .avatar{
	display: table-cell;
	vertical-align: middle;
	max-width: none;
}
.author-text{
	display: table-cell;
	vertical-align: middle;
	padding:0 calc-percent(40, 340) 0 calc-percent(18, 340);
}
.author-text p,
.author-text h2{
	margin:0;
}
.author-text h2{
	padding-bottom: calc-percent(5, 340);
}
.comment-shortcut{
	display: block;
	padding:calc-percent(60, 340) calc-percent(35, 340) calc-percent(55, 340) calc-percent(93, 340);	
	border-bottom: 1px solid #dcdcdc;
}
/*@end Article*/