
/* RESET 
-----------------------------------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after {content:'';}

/* Globals 
-----------------------------------------------------------------------------*/

body {
	font-family: $default-font-family;
	font-weight: lighter;
}

code { 
	border: 1px solid #ccc; 
	padding: 15px 10px; 
	line-height: 11px;
	display:  block; 
	font-size: 100%;
	background: #fefde0;
	white-space:pre;
}

/* Page Nav 
-----------------------------------------------------------------------------*/

div.navigation {
	width: 456px;
	float:left;
}

div.navigation div.newer {
	float:right;
	width:228px;
	text-align:right;
}

div.navigation div.older {
	float:left;	
	width:228px;
}

/* Archives 
-----------------------------------------------------------------------------*/
.monthtitle {
	font-size: 120%;
}

.postspermonth li{
	padding-left: 10px;
	margin: 0.3em;
}

/* Overall styles 
-----------------------------------------------------------------------------*/

.hidden {
	display: none;
}
.block {
	display: block;
}
.clear {
	clear: both;
}


/*code styles*/
pre {
	background:#FEFDE0 none repeat scroll 0;
	border:1px solid #CCCCCC;
	display:block;
	font-size:100%;
	line-height:11px;
	padding:15px 10px;
	white-space:pre;
}

ul.post-list {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left:0;
	padding-left:5px;
	text-indent:-8px;
	padding-bottom:15px;
}

ul.post-list li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height: 1.5;
	padding-bottom:10px;
	color:#363636;
	margin-left:20px;
}

ol.post-list {
	width:379px;
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:decimal;
	padding:10px 0px 15px 5px;
}

ol.post-list li {
	list-style-image:none;
	list-style-position:outside;
	line-height: 1.5;
	padding-bottom:10px;
	color:#363636;
}