
/* RESET 
-----------------------------------------------------------------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after {content:'';}

/* Globals 
-----------------------------------------------------------------------------*/

.johan {
	color: red;

	
}

body {
	background: #eadfcb url(assets/img/body-bg.jpg) top center no-repeat;
	padding-top: 50px;
	font-family: "nimbus-sans", Helvetica, sans-serif;
	font-weight: lighter;
}

code { 
	border: 1px solid #ccc; 
	padding: 15px 10px; 
	line-height: 11px;
	display:  block; 
	font-size: 100%;
	background: #fefde0;
	white-space:pre;
}

.home h1 {
	text-indent: -9999px;
}


/* Banner/menu-section 
-----------------------------------------------------------------------------*/

div#menu-container {
	width: 955px;
	height: 74px;
	float: left;
	background: #3d3c3c;
}

#logo {
	width: 243px;
	height: 74px;
	float: left;

		img{
			position: relative;
			top: 7px;
			left: 15px;
		}
	
}

div#menu-container div#search {
	padding-top: 28px;
	width: 236px;
	float: left;
	height: 46px;
}

div#menu-container div#search form {
	width: 236px;
	height: 35px;
	background: #3d3c3c;
	padding-top: 11px;
	float: left;
}
div#menu-container div#search form div {
	background: #494949 url(assets/img/search-bg.jpg) center left no-repeat;
	background-position: 5px;
	border: 1px solid #535353;
	padding: 3px 0 3px 20px;
	width: 205px;
	float: left;
}

div#menu-container div#search form div input {
	width: 198px;
	background: #494949;
	padding-left: 5px;
	border: 1px solid #494949;
	float: left;
	color: #fff;
}

/* Page Nav 
-----------------------------------------------------------------------------*/

div.navigation {
	width: 456px;
	float:left;
}

div.navigation div.newer {
	float:right;
	width:228px;
	text-align:right;
}

div.navigation div.older {
	float:left;	
	width:228px;
}


/* Footer */

div#footer {
	border-top: 2px solid #d3d8ca; 
	background: #eff4e6;
	margin-top: 10px;
	padding: 20px 15px;
	float: left;
	clear: both;
	width: 925px;
}

div#footer div#footer-left {
	width: 609px;
	float: left;
}

div#footer div#footer-left p {
	width: 609px;
	color: #787878;
	line-height: 20px;
	font-size: 90%;
}

div#footer div#footer-left p a {
	color: #3e3e3e;
	text-decoration: none;
}

div#footer div#footer-left p.copyright {
	color: #303030;
	padding: 0 0 10px 0;
	font-size: 90%;
}

div#footer div#footer-right {
	width: 296px;
	float: left;
}

div#footer div#footer-right p {
	width: 291px;
	float: left;
	margin: 0;
	padding: 0 5px 0 0;
	color: #475a22;
	font-size: 90%;
	text-align: right;
}

div#footer div#footer-right p a {
	color: #475a22;
	text-decoration: none;
}

#bottom {
	height: 20px;
	width: 955px;
	float: left;
}

/* Comments Template 
-----------------------------------------------------------------------------*/

div#comment-form {
	padding-top: 20px;
	padding-bottom: 40px;
	clear: both;
	width: 455px;
}

div#comment-form input {
	border: #e8e8e8 1px solid;
	padding: 0.3em;
	width: 132px;
	font-size: 100%;
}

textarea {
	border: #e8e8e8 1px solid;
	padding: 0.3em;
	font-family: Arial;
	font-size: 100%;
	width: 436px;
}

div.formfield-message {
	clear:both;
}

div#author-info {
	clear: both;
	padding-top: 15px;
}

div.formfield {
	margin-right: 20px;
	width: 131px;
	float: left;
}

div.formfield-submit {
	padding-top: 20px;
	clear: both;
	display: block;
}

span.desc {
	font-size: 90%;
	color: #a4a4a4;
}

label {
	font-weight: bold;
	color: #383838;
}

div.comment-wrapper {
	clear: both;
	padding-top: 10px;
}

div.admin-comment div.message {
	background-color:#EFF4E6;
}

div.comment-meta {
	float: left;
}

div#first-column div.comment-meta a {
	border-bottom: none;
}

div.message {
	margin-left: 10px;
	width: 384px;
	float: left;
	padding: 0.7em;
	padding-bottom: 1em;
	border-bottom: 1px solid #d3d3d3;
	background: #fff8ea;
}

div.message p {
	width: 387px !important;
}

div.comment-author span {
	font-weight: bold;
}

div.comment-author span.comment-date {
	font-size: 90%;
	color: #959595;
}

div.comment-post {
	padding-top: 10px;
}

/* Archives 
-----------------------------------------------------------------------------*/
.monthtitle {
	font-size: 120%;
}

.postspermonth li{
	padding-left: 10px;
	margin: 0.3em;
}

/* Overall styles 
-----------------------------------------------------------------------------*/

.hidden {
	display: none;
}
.block {
	display: block;
}
.clear {
	clear: both;
}


/*code styles*/
pre {
	width:439px;
	float:left;
	background:#FEFDE0 none repeat scroll 0;
	border:1px solid #CCCCCC;
	display:block;
	font-size:100%;
	line-height:11px;
	padding:15px 10px;
	white-space:pre;
}

ul.post-list {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left:0;
	padding-left:5px;
	text-indent:-8px;
	padding-bottom:15px;
}

ul.post-list li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height: 1.5;
	padding-bottom:10px;
	color:#363636;
	margin-left:20px;
}

ol.post-list {
	width:379px;
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:decimal;
	padding:10px 0px 15px 5px;
}

ol.post-list li {
	list-style-image:none;
	list-style-position:outside;
	line-height: 1.5;
	padding-bottom:10px;
	color:#363636;
}