/* Comments Template 
-----------------------------------------------------------------------------*/
.add-comment,
.comments{
    width: 68%;
    margin: 0 auto;
}

.add-comment input {
    border: #e8e8e8 1px solid;
    padding: 0.3em;
    font-size: 100%;
    margin-bottom: 1%;
}

textarea {
    border: #e8e8e8 1px solid;
    padding: 0.3em;
    font-family: Arial;
    font-size: 100%;
    width: 436px;
}

.formfield-message {
    clear:both;
}

#author-info {
    clear: both;
    padding-top: 15px;
}

.formfield-submit {
    padding-top: 20px;
    clear: both;
    display: block;
}
label {
    font-weight: bold;
}
div.comment-wrapper {
    clear: both;
    padding-top: 10px;
}
.comment-meta {
    float: left;
}
.comment-meta a {
    border-bottom: none;
}
.message {
    margin-left: 10px;
    padding: 0.7em;
    padding-bottom: 1em;
    border-bottom: 1px solid #d3d3d3;
    background: #fff8ea;
}
.comment-author span {
    font-weight: bold;
}
.comment-author span.comment-date {
    font-size: 90%;
    color: #959595;
}
.comment-post {
    padding-top: 10px;
}